body {
    background-color: #1A1C1D;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

#forcefont {
    font-family: "Outfit";
  }
.container {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}


h1 {
    font-size: 36px;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-item {
    flex: 1;
    text-align: center;
}

.contact-box {
    width: 250px;
    height: 250px;
    background-color: #1A1C1D;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 107, 107, 0.5); /* Glow effect on hover */
}

.contact-item a {
    text-decoration: none;
    color: white;
}

.contact-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
}

.contact-item span {
    display: block;
    margin-top: 10px;
}
.openbutton {
    background-color: #1A1C1D;
    color: #747372;
    border-color: white;
    font-size: 12px;
    border-radius: 16px;
    padding: 2px;
    width: 50px; 
    height: 30px;  
    text-align: center;
}

.openbutton:hover {
    background-color: #ffffff;
    color: #1A1C1D;
    border-color: #747372;   
}