body {
    background-color: #1A1C1D;
}

.topbar {
    display: flex;
    justify-content: space-between;
    /* This will push the .webname and .minnavbar to opposite ends */
    align-items: center;
    color: white;
    margin: 38px;
}

.minnavbar ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
}

.minnavbar ul li {
    margin: 7px;
    color: #747372;
}

.minnavbar ul li:hover {
    margin: 7px;
    color: white;
}

.webname ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
}

.webname ul li {
    margin: 7px;
    color: white;
}
.webname a {
    text-decoration: none;
    color: white;
}

.minnavbar {
    float: right;
}

.myaction button {
    background-color: #1A1C1D;
    color: #747372;
    border-color: white;
    font-size: 17px;
    border-radius: 20px;
    width: 110px;
    height: 30px;
    text-align: center;
}

.myaction button:hover {
    background-color: #ffffff;
    color: #1A1C1D;
    border-color: #747372;
}

.entrypoint {
    margin: 0 auto;
    color: white;
    display: flex;
    font-family: Helvetica;
}

.entrypoint .myprofession {
    font-size: 30px;
    font-weight: lighter;
}

.entrypoint .myname {
    font-size: 55px;
    font-weight: bolder;
}

.entrypoint .mytext {
    font-size: 21px;
    font-weight: lighter;

}

.myface img {
    height: 370px;
    width: 370px;
    border-radius: 50%;
    margin: auto;
}

.parententry {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px;
}

.entrypoint .myface {
    margin-right: 20px;
    margin-left: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.entrypoint .myabout {
    margin-left: 20px;
    margin-top: 100px;
    margin-right: 120px;
}

.whatido {
    color: white;
    font-size: 17px;
    font-weight: lighter;
}

.whatido h1 {
    font-size: 23px;
    font-weight: lighter;
}

.whatido h2 {
    font-size: 19px;
    font-weight: lighter;
}

.parentmyskills {
    display: flex;
    align-items: center;
    justify-content: center;
}

.myskills {
    margin: 0 auto;
    display: flex;
}

.innerwhatido {
    margin: 80px;
}
.myinnertext {
    margin: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .imggallery {
    margin: 250px;
    margin-top: 90px;
  }

  .postgallery {
    margin: 220px;
  }

  .logogallery {
    margin: 220px;
  }

  .imggallery img {
    max-width: 495px;
    max-height: 330px;
    border-radius: 25px;
    margin: 10px;
  }

  .mygallery {
    color: white;
  }

  .vidgallery {
    margin: 260px;
  }

  .vidgallery iframe {
    border-radius: 25px;
    margin: 10px;
    max-width: 300px;
    max-height: 200px;
  }

  .postgallery img {
    max-width: 495px;
    max-height: 330px;
    border-radius: 25px;
    margin: 10px;
  }

  .logogallery img {
    max-width: 495px;
    max-height: 330px;
    border-radius: 25px;
    margin: 10px;
  }
  .minnavbar ul a {
  text-decoration: none;  
  }
  #forcefont {
    font-family: "Outfit";
  }
  .myportfoliohead {
    font-size: 50px;
    text-align: center;
    color: white;
    margin: 20px;
  }

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
}